@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bigFrame {
        width: var(--width);
        height: 257px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}
:root {
  --min-height: 44;
  --width: 353;
  --spacing-1: 4;
  --spacing-2: 8;
  --spacing-3: 16;
  --spacing-4: 32;
  --spacing-5: 64;

  --color-white: rgba(255, 255, 255, 0.30);

}